@import url("https://fonts.googleapis.com/css?family=Quicksand|Rajdhani&display=swap");

$primaryColor: #e4e4e4;
$secondaryColor: #dfdfdf;
$highlightColor: #e7569c;
$titleColor: #979797;
$primaryFont: "Rajdhani", quicksand;
.wrapper {
  text-align: center;
}
.container {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background: $primaryColor;
  text-align: center;
  font-family: $primaryFont;
  color: $titleColor;
}

.inner-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
}
.display {
  font-family: $primaryFont;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: $primaryColor;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.35);
  text-align: center;
}
.title-display {
  display: inline-block;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
}
.inner-display {
  width: 200px;
  height: 120px;
  background: #dfdfdf;
  box-shadow: 4px 0 4px grey;
  border-radius: 200px/ 120px;
  position: relative;
  bottom: 20px;
  display: inline-block;
  text-align: center;
}
//innerclock
.clock {
  display: inline-block;
  font-size: 46px;
  color: $highlightColor;
}
//template for the increase and decrease button
.panel-controller {
  display: grid;
  grid-template-rows: 110px 110px;
}

.container-controller {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.container-button {
  display: grid;
  float: left;
}
.panel-btn {
  position: relative;
  top: 20px;
}

.btn {
  border: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.35);
}

@media only screen and (min-width: 700px) {
  .panel-controller {
    margin-left: 75%;
  }
  #session-label {
    padding-right: 20px;
  }
  #break-label {
    padding-right: 25px;
  }
}
